@charset "UTF-08";

@media (max-width:822px) {
    .form_top img {
        width: 65px;
    }
    .form .img_pm {
            width: 50px;
        }
    .form h2 {
        font-size: 1.1em;
    }
    .form {
        width: 70%;
    }
    .form .img_lateral {
        width: 40%;
    }
}
@media (max-width:530px) {
    .form .img_lateral {
        display: none;
    }
    .form {
        width: 80%;
    }
    .form_content {
        width: 90%;
    }
    .form_top img {
        width: 85px;
    }
    .form .img_pm {
            width:61px;
        }
    .form h2 {ize: 1.3em;
    }
        font-s
}
@media (max-width:385px) {
    .form_top img {
        width: 70px;
    }
    .form .img_pm {
            width: 52px;
        }
    .form h2 {
        font-size: 1.3em;
    }
    .form {
        width: 100%;
    }
    header img {
        width: 180px;
    }
}