@charset "UTF-08";
:root {
    --cor1: #A60303;
    --cor2: #D93A37;
    --cor3: #e1dbd9bc;
    --cor4: #c3b12d;
    --cor5: #A6B4C1;
}
* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: var(--cor3);
}
.container {
margin: auto;
width: 100%;
height: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
header img {
    width: 200px;
}
.titulo {
    text-align: center;
}
.titulo p, h1 {
    padding: 3px;
}
section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.form {
width: 70%;
background-color: #9c99993f;
border-radius: 10px;
height: 500px;
display: flex;
border: 1px solid rgba(0, 0, 0, 0.753);
box-shadow: 6px 5px 20px rgba(0, 0, 0, 0.566);
}
.form img {
    width: 100px;
}
.form .img_lateral {
    height: 100%;
    background: url(../imagens/fundo.jpeg);
    width: 30%;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
}
.form .img_pm {
    width: 75px;
}
.form .h2_top {
display: flex;
flex-direction: column;
text-align: center;
margin-top: 7px;
margin-bottom: 7px;
}
.form_content {
margin: auto;
}
.form_content input, label, select {
    margin-top: 8px;
    width: 100%;
}
.form_content input, select {
    padding: 6px;
}
.form_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form button {
    margin-top: 10px;
    padding: 8px;
    background-color: #A60303;
    cursor: pointer;
    border: none;
    color: black;
    border-radius: 4px;
    color: white;
    font-size: 1.0em;
}
.form button:hover {
    background-color: #e91f1c;
}
.forget_pass {
    background-color: #9c99993f;
    border: #A60303 solid 1px;
    margin-top: 8px;
    padding: 8px;
    text-align: center;
    color: #b21411;
    text-decoration: none;
    border-radius: 4px;
}
.forget_pass:hover {
    background-color: #e91f1c;
    color: white;
}
.input_content {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    margin-top: 3px;
}
.input_content span {
    font-size: 2em;
}